numpy
pandas
scikit-learn
matplotlib
tqdm
pyyaml
datasets
requests
dill
transformers
torch --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128